<!DOCTYPE html>
<html>
   <head>
      <title>Модератор</title>
   </head>
   <body>
      <h3>Столбцы</h3>
      <form method="POST" action="{{ url_for('adminPage') }}" enctype='multipart/form-data'>
         <h3>Методы</h3>
         <input type="radio" id = 1 name="method" value=1 checked>
         <label for=1>Получить информацию о пользователе</label>
         <br>
         <input type="radio" id = 2 name="method" value=2>
         <label for=2>Получить информацию о паре</label>
         <br>
         <input type="radio" id = 3 name="method" value=3>
         <label for=3>Удалить пользователя</label>
         <br>
         <input type="radio" id = 4 name="method" value=4>
         <label for=4>Удалить пару</label>
         <br>
         <div id="method-2-block" hidden>
            <br>
            <select id="admin-column-select" name="column-pair">
               {% for column in columnNamesPairs %}
               <option value="{{column['COLUMN_NAME']}}">{{loop.index}}. {{column['COLUMN_NAME']}}</option>
               {% endfor %}
            </select>
            <br>
            Значение:<input type="text" name="value-pair">
         </div>
         <div id="method-1-block">
            <br>
            <select id="admin-column-select" name="column-user">
               {% for column in columnNamesUsers %}
               <option value="{{column['COLUMN_NAME']}}">{{loop.index}}. {{column['COLUMN_NAME']}}</option>
               {% endfor %}
            </select>
            <br>
            Значение:<input type="text" name="value-user">
         </div>
         <div id="method-4-block" hidden>
            <br>
            <input id=41 type="number" name="pairID">
            <label for=41 >Идентификатор пары</label>
         </div>
         <div id="method-3-block" hidden>
            <br>
            <input id=30 type="number" name="userID" min="0">
            <label for=30 >Идентификатор пользователя</label>
         </div>
         <button type="submit">ОК</button>
      </form>
      {% include 'admin-table.html' %}
      <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
      <script type="text/javascript">
         var currentBlock = $('#method-1-block')
         
         $('input[type=radio][name=method]').change(function() {
         
         currentBlock.hide()
         
         // console.log('#method-{this.value}-block')
         
         currentBlock = $(`#method-${this.value}-block`)
         
         currentBlock.show()
         
         });
      </script>
   </body>
</html>