<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Инвентарные книги</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
  <div class="bg-tab">
      <div class="header">
              <div class="mihail"><a href="main.html">Галерея</a></div>
          <nav>
              <ul>
                  <li><a href="collections.html">Коллекции</a></li>
                  <li><a href="halls.html">Навигация</a></li>
                  <li><a href="halls.html">Войти</a></li>
              </ul>
          </nav>
  </div>
    <div class="center">
        <div class="left-header">
          <h2 class="left-title">Инвентарные книги</h2>
        </div>
      <div class="center-tab">
        <table>
          
          <tr>
            <td><a href="book.html">Номер инвентарной книги</a></td>
            <td>Тип инвентарной книги</td>
            <td>Дата</td>
            <td>Музей</td>
          </tr>

        </table>
      </div>
    </div>
  </div>
  
 </body>
</html>