<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Внесение книги</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
  <div class="bg-tab">
      <div class="header">
              <div class="mihail"><a href="main.html">Галерея</a></div>
          <nav>
              <ul>
                  <li><a href="collections.html">Коллекции</a></li>
                  <li><a href="halls.html">Навигация</a></li>
                  <li><a href="login.html">Войти</a></li>
                  
              </ul>
          </nav>
  </div>
<div class="center">
 <div class="left-header">
          <h2 class="left-title">Инвентарная книга</h2>
        </div>
      <div class="center-tab">
        <table>
          
          <tr> 
  
    <td class="leftcol-text">


<div class="form">

<p>Номер</p>
<input type="" placeholder="Номер" name=""/>

<p>Тип</p>
<input type="text" placeholder="Тип инвентарной книги" name=""/>

<p>Дата регистрации</p>
<input type="date" placeholder="Дата регистрации" name=""/>

<p>Музей</p>
<p><select name="number">
  <option value="1">Здесь нужно, чтоб были названия музеев из бд</option>
  <option value="2">Музей того, что сломал Аркадий Торохов</option>
  <option value="3">Егор лох хехехех</option>
</select></p>


<button type="submit">Сохранить</button>
</div>
  </td>
   </tr>

        </table>
      </div>
    </div>
  </div>
  
 </body>
</html>
