<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Создание коллекции</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
  <div class="bg-tab">
      <div class="header">
              <div class="mihail"><a href="main.html">Галерея</a></div>
          <nav>
              <ul>
                  <li><a href="collections.html">Коллекции</a></li>
                  <li><a href="halls.html">Навигация</a></li>
                  <li><a href="login.html">Войти</a></li>
                  
              </ul>
          </nav>
  </div>
<div class="center">
 <div class="left-header">
          <h2 class="left-title">Создание коллекции</h2>
        </div>
      <div class="center-tab">
        <table>
          
          <tr> 
  
    <td class="leftcol-text">


<div class="form">

<p>Тематика</p>
<p><select name="number">
  <option value="1">Автор</option>
  <option value="2">Эпоха</option>
  <option value="3">Период</option>
  <option value="4">Место</option>
</select></p>

<p>Параметр</p>
<p><select name="number">
  <option value="1">Здесь нужно, чтоб были параметры из бд по каждому варианту</option>
  <option value="2">Типа список из авторов из бд</option>
  <option value="3">Или эпохи из бд</option>
</select></p>

<p>Название коллекции</p>
<input type="text" placeholder="Колличество предметов" name=""/>

<p>Описание</p>
<input type="text" placeholder="Описание" name=""/>


<button type="submit">Создать коллекцию</button>
</div>
  </td>
   </tr>

        </table>
      </div>
    </div>
  </div>
  
 </body>
</html>
