<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>main</title>
  <link rel="stylesheet" href="styles.css">
 </head>
 <body>
  <div class="bg">
      <div class="header">
              <div class="mihail"><a href="mainpage.html">Холланд</a></div>
          <nav>
              <ul>
                  <li><a href="biography.html">Биография</a></li>
                  <li><a href="chronology.html">Галерея</a></li>
                  <li><a href="p.html">Личный кабинет</a></li>
              </ul>
          </nav>
  </div>
    <div class="center">

        <div class="center-header">
          <h2 class="funny-title section-title">Тест Холланда</h2>
        </div>
        <div class="center-text">
          <p>В середине прошлого века огромную известность приобрела методика Голланда (Holland), которая была создана выдающимся американским ученым, психологом. Большую часть жизни создатель теста проработал профессором Мичиганского университета и стал первооткрывателем некоторых научных понятий в сфере психологии и информатики. И в наши дни уникальный опросник Холланда не утратил своей актуальности и приобретает все больше известности.</p>
          <p>В Европе тест Дж.Холланда часто применяется с целью определения профессионального типа личности и на основании полученной информации делают соответствующие выводы.
        Цель онлайн-теста Голланда:определить склонности и подобрать людей, которые наиболее всего подходят вашему психотипу, соответствуют характеру, устремлениям, духу.</p>
          <p>Хотите узнать свой тип личности или найти человека психологически похожего на вас? Тогда вам осталось только зарегестрироваться на сайте и можно приступать к поиску собеседников.</p>  
        </div>
        <div class="center-button">
          <button>Создать аккаунт</button>
        </div>
    </div>
  </div>
  
 </body>
</html>