<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Карточка</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
 </head>
 <body>
  <div class="bg-tab">
    <div class="header">
              <div class="mihail"><a href="{{url_for('main')}}">Галерея</a></div>
          <nav>
              <ul>
                <li><a href="{{url_for('collectionsPage')}}">Коллекции</a></li>
                  <li><a href="{{url_for('hallsPage')}}">Навигация</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="{{ url_for('userInfo')}}">{{ user.fname}} {{ user.lname}}</a></li>
                  {% else %}
                    <li><a href="{{ url_for('loginUser')}}">Войти</a></li>
                  {% endif %}
                  
              </ul>
          </nav>
  </div>
<div class="center">

      <div class="center-tab">
        <table>
          
          <tr> 
    <td class="leftcol"><img src="{{ url_for('static', filename='pics/' + image)}}"
    class="leftcol" alt=""></td>
    <td class="leftcol-text">
<p>Номер: {{ item.number }}</p>
<p>Инвентарная книга:<a href="{{ url_for('bookDetailPage', idBook = item.book) }}">{{ item.book }}</a></p>
<p>Регистрация: {{ item.registration }}</p>
<p>Название: {{ item.name }}</p>
<p>Автор: {{ item.author }}</p>
<p>Период создания: {{ item.date }}</p>
<p>Место: {{ item.place }}</p>
<p>Эпоха: {{ era.eraname }}</p>
<p>Размеры: {{ item.size }}</p>
<p>Количество: {{ item.picies }}</p>
<p>Материал: {{ item.material }}</p>
<p>Состояние: {{ item.condition }}</p>
{% if collection %}
<p>Коллекция:<a href="{{ url_for('collectionDetailPage', collectionId=item.collection)}}">{{ collection.collectionname }}</a></p>
{% endif %}
<p>Зал:<a href="{{ url_for('hallPage', hallName = item.hall) }}">{{ item.hall }}</a></p>
<p>Тип: {{ type.typename }}</p>
<p>Фонд: {{ fund.fundname }}</p>
<p>Статус: {{ item.status }}</p>
<p>Описание: {{ item.description }}</p>
  </td>
   </tr>


        </table>
 
      </div>
    </div>
  </div>
  
 </body>
</html>
