<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Карточка</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
 </head>
 <body>
  <div class="bg-tab">
      <div class="header">
        <div class="mihail"><a href="{{url_for('main')}}">Галерея</a></div>
          <nav>
              <ul>
                <li><a href="{{ url_for('collectionsPage') }}">Коллекции</a></li>
                  <li><a href="halls.html">Навигация</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="{{ url_for('userInfo')}}">{{ user.fname}} {{ user.lname}}</a></li>
                  {% else %}
                    <li><a href="{{ url_for('loginUser')}}">Войти</a></li>
                  {% endif %}

                  
              </ul>
          </nav>
  </div>
<div class="center">
  {% if error %}
  <p>{{ error }}</p>
  {% else %}
      <div class="center-tab">
        <table>
          
          <tr> 
    <td class="leftcol"><img src="{{ url_for('static', filename='pics/' + image)}}" 
    class="leftcol" alt=""></td>
    <td class="leftcol-text">
      <p>Название:{{ item.name }}</p>
      <p>Автор: {{ item.author}}</p>
      <p>Период создания: {{ item.date}} </p>
      <p>Место: {{ item.place}} </p>
      <p>Эпоха: {{ era.eraname }}</p>
      <p>Материал: {{ item.material }}</p>
      {% if item.collection %}
      <p>Коллекция:<a href="{{ url_for('collectionDetailPage', collectionId=item.collection)}}">{{ collection.collectionname}}</a></p>
      {% endif %}
      <p>Зал:<a href="{{ url_for('hallPage', hallName = item.hall) }}">{{ item.hall }}</a></p>
      <p>Описание: {{item.description}}</p>
  </td>
   </tr>

        </table>
      </div>
      {% endif %}
    </div>
  </div>
  
 </body>
</html>
