<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Карточка</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
  <div class="bg-tab">
      <div class="header">
              <div class="mihail"><a href="main.html">Галерея</a></div>
          <nav>
              <ul>
                  <li><a href="collections.html">Коллекции</a></li>
                  <li><a href="halls.html">Навигация</a></li>
                  <li><a href="login.html">Войти</a></li>
                  
              </ul>
          </nav>
  </div>
<div class="center">

      <div class="center-tab">
        <table>
          
          <tr> 
    <td class="leftcol"><img src="css/pics/demon.jpg" 
    class="leftcol" alt=""></td>
    <td class="leftcol-text">
<p>Номер:</p>
<p>Инвентарная книга:<a href="book.html"> номер ин книги</a></p>
<p>Регистрация:</p>
<p>Название:</p>
<p>Автор:</p>
<p>Период создания:</p>
<p>Место:</p>
<p>Эпоха:</p>
<p>Размеры:</p>
<p>Количество:</p>
<p>Материал:</p>
<p>Состояние:</p>
<p>Коллекция:<a href="collection.html"> Название коллекции</a></p>
<p>Зал:<a href="hall.html"> номер зала</a></p>
<p>Тип:</p>
<p>Фонд:</p>
<p>Статус:</p>
<p>Описание:</p>
  </td>
   </tr>


        </table>
 
      </div>
    </div>
  </div>
  
 </body>
</html>
