<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Пары</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
 </head>
 <body>
  <div class="bg-tab">
      <div class="header">
              <div class="mihail"><a href="{{ url_for('hollandStartPage') }}">Холланд</a></div>
          <nav>
              <ul>
                  
                  <li><a href="{{ url_for('userResults') }}">Результаты теста</a></li>
                  <li><a href="{{ url_for('hollandStartPage') }}">Пройти тест</a></li>
                  <li><a href="{{ url_for('userInfo') }}">Личный кабинет</a>
                  </li>
              </ul>
          </nav>
  </div>
    <div class="center">
      <div class="center-tab">
        <table>
          {% for user in pairs %}
          <tr>
            <td>{{ user.bdate }}</td>
            <td>{{ user.fname }}</td>
            <td>{{ user.lname }}</td>
            <td>{{ user.tel }}</td>
            <td><img class="img" src="{{url_for('static',filename='img/dog.jpg')}}" alt="псинка"></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  
 </body>
</html>