<!DOCTYPE html>

<html>

<head>

<title>Тест</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">

</head>

<body>

<div class="bg">

<div class="form-center">

<div class="form">

<p text-align: justify>Выберите один из вариантов ответа :</p>

<div class="form-buttons">
	<form action="{{url_for('hollandQuiz',number=data.id)}}" method="POST">
	<button type="submit" name="word1" value="{{data.letter1}}">{{data.word1}}</button>
	<button type="submit" name="word2" value="{{data.letter2}}">{{data.word2}}</button>
	</form>
</div>


</div>

</div>

</div>

</body>

</html>