<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>user</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
 </head>
 <body>
  <div class="bg">
      <div class="header">
              <div class="mihail"><a href="{{url_for('hollandStartPage')}}">Холланд</a></div>
          <nav>
              <ul>
                  <li><a href="biography.html">Пары</a></li>
                  <li><a href="{{ url_for('hollandStartPage')}}">Пройти тест</a></li>
                  <li><a href="user.html">Результаты теста</a></li>
              </ul>
          </nav>
  </div>
    <div class="center">

        <div class="center-text-user">
          {% if user %}
          <p>{{ user.first_name }}</p>
          <p>{{user.last_name}}</p>
          <p>{{ user.phone }}</p>
          {% if user.email %}
          <p>{{ user.email }}</p> 
          {% endif %}
          <p>{{ user.birthdate }}</p> 
          {% if user.is_subscriber %}
          <p>Подписка оформлена</p>
          {% else %}
          <p>Подписка отсутствует</p>
          {% endif %}
          {% if user.is_admin %}
          <p>Вы являетесь модератором!</p>
          {% endif %}
          {% endif %}

        </div>
        {% if not user.is_subscriber%}
        <div class="center-button">
          <a href="{{ url_for('subscribeUser') }}"><button>Оформить подписку</button></a>
        </div>
        {% endif %}
    </div>
  </div>
  
 </body>
</html>