<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>user</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
 </head>
 <body>
  <div class="bg">
      <div class="header">
        <div class="mihail"><a href="{{url_for('main')}}">Галерея</a></div>
          <nav>
              <ul>
                <li><a href="{{ url_for('collectionsPage') }}">Коллекции</a></li>
                <li><a href="{{url_for('hallsPage')}}">Навигация</a></li>
                  <li><a href="{{ url_for('logoutUser')}}">Выйти</a></li>
              </ul>
          </nav>
  </div>
    <div class="center">

        <div class="center-text-user">
    
          <p>Фамилия: {{ user.fname }}</p>
          <p>Имя: {{ user.lname}}</p>
          <p>Телефон: {{ user.phone }}</p>

          <p>Почта: {{ user.mail  }}</p> 
           <p>Должность: {{ user.stuff }}</p>
         
      
        </div>
      
        <div class="center-button">
          <a href="{{ url_for('writeOffPage') }}"><button>Списание</button></a>
           <a href="{{ url_for('collectionCreatePage') }}"><button>Новая коллекция</button></a>
            <a href="{{ url_for('booksPage') }}"><button>Инвентарные книги</button></a>
        </div>

    </div>
  </div>
  
 </body>
</html>
