<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>user</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
 </head>
 <body>
  <div class="bg">
      <div class="header">
        <div class="mihail"><a href="{{url_for('main')}}">Галерея</a></div>
          <nav>
              <ul>
                <li><a href="{{ url_for('collectionsPage') }}">Коллекции</a></li>
                <li><a href="{{url_for('hallsPage')}}">Навигация</a></li>
                  <li><a href="{{ url_for('logoutUser')}}">Выйти</a></li>

              </ul>
          </nav>
  </div>
    <div class="center">

        <div class="center-text-user">
    
          <p>{{ user.fname }}</p>
          <p>{{ user.lname}}</p>
          <p>{{ user.phone }}</p>

          <p>{{ user.phone  }}</p> 
  
          <p>Даты рождения нет в таблице ((</p> 
           <p>{{ user.stuff }}</p>
         
      
        </div>
      
        <div class="center-button">
          <a href="writeoff.html"><button>Списание</button></a>
           <a href="collectioncreate.html"><button>Новая коллекция</button></a>
            <a href="books.html"><button>Инвентарные книги</button></a>
        </div>

    </div>
  </div>
  
 </body>
</html>
